.ui-list {
    line-height: 40px;
    font-family: sans-serif;
}

.ui-list-style {
    font-weight: bold;
    font-style: italic  ;
}

.ui-match-style {
    background: aquamarine;
    width: 8%;
    padding: 18px;
    margin-left: 25px;
}

.ui-customer {
    border: 1px solid;
    border-radius: 15px;
    width: 12%;
    margin-left: 18px;
    background: aquamarine;
    padding: 10px;
    margin-bottom: 33px;
}

.ui-container {
    padding: 31px;
}

.ui-sub-list {
    padding: 10px;;
}
.ui-desc {
    padding-left: 208px;
}