<form [formGroup]="myForm">

  <!-- Value: {{myForm.value | json }} -->

  <button mat-raised-button color="primary" (click)="addPhones()"><span class="material-icons">
    add
    </span>Add Components</button>
  <div class="container" formArrayName="components" style="display: grid;">
    <div class="row">
    <div class="col-sm-4" *ngFor="let phone of phoneForms.controls; let i=index" [formGroupName]="i" style="padding-left: 10px;">
      <mat-form-field>
        <label>Component {{i}}<span class="material-icons">
          delete
          </span></label>
        <input matInput formControlName="component">
      </mat-form-field>
      <button mat-raised-button color="warn" (click)="openDialog(i)">Delete</button>
    </div>
  </div>
  </div>
  </form>
